/**
 * Source Duck
 * Copyright (C) 2020 Daniel Holm
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html {
  font-family: Arial, Helvetica, sans-serif;
}

body, html, article, main, section, h1, h2, h3, h4, h5, h6, nav, input, object, img, div {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #e9f2fc;
}

a {
  text-decoration: none;
}

nav {
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  height: 66px;
}

#tabs, #add-tab, #tabs div{
  display: inline-block;
  vertical-align: bottom;
}

#tabs div, #add-tab {
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

nav div a {
  color: #1a364a;
}

nav div img {
  vertical-align: middle;
  display: inline-block;
  margin-left: 1rem;
}

nav div.active {
  background-color: #e9f2fc;
}

#add-tab {
  border-radius: 0px;
  margin-bottom: 1rem;
  padding: 0px;
  padding-left: 1rem;
}

#add-tab img {
  margin: 0px;
}

#add-tab input {
  border: 1px solid #1a364a;
  padding: 0.5rem;
  border-radius: 4px;
}

section {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 4rem;
}

main {
  margin-top: 10rem;
}

section h1 {
  margin: 2rem;
  margin-bottom: 0px;
  font-weight: 500;
}

article {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 8rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

article .summarizing, article .sources {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
}

article h1 {
  margin: 0.5rem;
  padding: 0.5rem;
}

article .sources h1 {
  max-width: 347px;
  word-wrap: break-word;
}

article h1 a {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #1a364a;
  border-bottom: 1px dashed #1a364a;
  word-wrap: break-word;
}

article .summarizing h1 a {
  font-weight: 900;
}

article .sources .inbound-sources h1 a {
  color: #636363;
}

article .summarizing, .source-icon  {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.source-icon {
  border-radius: 50%;
  border: 3px solid #1a364a;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: -7.5rem;
  transform: translate(-50%, -50%);
}

.outbound-sources.loading h1 a, .inbound-sources.loading h1 a, h1.loading a {
  border-radius: 4px;
  pointer-events: none;
  cursor: default;
}

.outbound-sources.loading h1 a, .outbound-sources h1.loading a {
  background-color: #1a364a;
}

.inbound-sources.loading h1 a, .inbound-sources h1.loading a {
  background-color: #636363;
}

.hidden {
  display: none;
}